body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 3px;
    background-color: #1bff2a;
}

.allBox {
    display: inline-block;
    background-color: #12a01b;
    border-radius: 25px;
    border: 3px solid #000000;
    box-shadow: 0 0 150px rgba(0, 0, 0, 0.8);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 900px;
}

/*INITIAL LOAD*/
.container {
    display: inline-block;
    padding: 15px;
    margin-top:30px;
    margin-bottom: 30px;
    width: 95%;
}


/*END BUTTON LOAD*/
.stat-container {
    display: inline-block;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: opacity 0.8s ease; /* For smooth opacity transitions */
    width: 95%;
    opacity: 100;
}

.stat-container.disabled {
    opacity: 0;
    pointer-events: none;
    visibility: hidden; /* Hides the element */
    transition: opacity 0.8s ease;
}

/*START BUTTON LOAD*/
.loadOnStart{
    display: inline-block;
    transition: opacity 0.8s ease;
    opacity: 100;
}

.loadOnStart.disabled {
    display: inline-block;
    transition: opacity 0.1s ease;
    opacity: 0;
}


h1 {
    font-size: 40px;
    font-weight: 900;
    color: #000000;
    margin-top: 8px;
    margin-bottom: 8px;
}

h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    margin-top: 3px;
    margin-bottom: 3px;
}

h3 {
    display: inline-block;
    font-size: 27px;
    font-weight: 300;
    color: #8a008e;
    margin-top: 3px;
    margin-bottom: 3px;
}

input[type="number"] {
    padding: 3px;
    font-size: 22px;
    width: 75px;
    border-radius: 8px;
    border: 2px solid #000000;
}

.counter-display {
    margin: 1px;
}

.counter-display p {
    font-size: 1.3em;
    font-weight: bold;
    color: #000000;
}

.moneyDisplay p {
    font-size: 100px;
    font-weight: bold;
    color: #16c222;
    margin-top: 1px;
    margin-bottom: 1px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.timer-display p {
    font-size: 1.5em;
    color: #000000;
}

.button-group {
    height: 80px;
    display: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

button {
    padding: 13px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    border: 3px solid #000000;
    cursor: pointer;
}

#startButton {
    background-color: green;
    color: white;
}

#stopButton {
    background-color: rgb(255, 0, 0);
    color: white;
}

#resetButton {
    background-color: #a318ff;
    color: white;
}

button:disabled {
    transition: opacity 0.28s ease;
    opacity: 0%;
    cursor: not-allowed;
}
